.root {
  background-color:inherit;
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}
.gridlist {
  flex-wrap: nowrap;
}


.image {
  width: 600px;
  height: 650px;
}
.button {

}


